{% extends 'base.html' %}
{% block title %} Cadastrar Pessoa {% endblock %}
{% block content %}

<div class="list-div">    
    <form method="POST">
        <!--Proteção contra ataques de Cross Site Request Forgery-->
        {% csrf_token %}
        
        <p>Nome:</p><input type="text" class="form-control" name="nome" value={{nome}} required="required">
        <p>Sobrenome:</p><input type="text" id ="sobrenome-input" class="form-control" name="sobrenome" value={{sobrenome}} required="required">
        <p>Idade:</p><input type="number" class="form-control" name="idade" required="required">
        <p>Nascimento:</p><input type="date" class="form-control" name="nascimento" required="required">
        <p>E-mail:</p><input type="email" class="form-control" name="email" required="required">
        <p>Apelido:</p><input type="text" class="form-control" name="apelido" >
        <p>Observação:</p><input type="text" class="form-control" name="descricao" >
        
        <div class="add-div">
            <button type="submit" id='adicionar-pessoa' class="form-control">Cadastrar</button>
        </div>
        

    </form>    
    
    <div class="list-btn-div">
        <a href="/listPessoa"><button class="form-control"><i class="fas fa-user"></i>Lista de pessoas</button ></a>
    </div>
    
</div>

{% endblock %}
