{% extends 'base.html' %}
{% block title %} Lista de Pessoas Cadastradas {% endblock %}
{% block content %}

<div class="search-div">
        
    <form class="input-group" method="GET" id="search-form">
        <i class="fas fa-search" id="search-btn"></i>
        <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome da pessoa" value="{{ request.GET.search}}">
    </form>
</div>

<div class="list-div">
   
    
    <!--Toda vez que o usuario alterar o banco de dados ele será informado atraves de mensagens-->
    <!--Essa parte do codigo irá verificar se existem mensagens que devem aparecer para o usuario-->
    {% if messages %}
        <div class="messages">
            <ul class="messages">
                <!--Caso existam mensagens este for irá percorrer as mensagens e exibir na tela-->
                {% for message in messages %}
                <li {% if  mesage.tags  %}class="alert alert-{{message.tags}}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    
    {% endif %}
    
    <div class="list-div">
        <table>

            <tr class="list-pessoas">
                <th class="list-pessoas-item">Nome</td class="lista-pessoas-item">
                <th class="list-pessoas-item">sobrenome</td class="lista-pessoas-item">
                <th class="list-pessoas-item">idade</td class="lista-pessoas-item">
                <th class="list-pessoas-item">data de nascimento</td class="lista-pessoas-item">
                <th class="list-pessoas-item">e-mail</td class="lista-pessoas-item">
                <th class="list-pessoas-item">apelido</td class="lista-pessoas-item">
                <th class="list-pessoas-item">observação</th>
            </tr>

            <tr class="list-pessoas">
                <!--Percorre os dados presentes em pessoas e adiciona na tabela-->
                
                {% for pessoa in pessoas %}                
                    <td class="list-pessoas-item">{{pessoa.nome}}</td class="lista-pessoas-item">
                    <td class="list-pessoas-item">{{pessoa.sobrenome}}</td class="lista-pessoas-item">
                    <td class="list-pessoas-item">{{pessoa.idade}}</td class="lista-pessoas-item">
                    <td class="list-pessoas-item">{{pessoa.nascimento}}</td class="lista-pessoas-item">
                    <td class="list-pessoas-item">{{pessoa.email}}</td class="lista-pessoas-item">
                    <td class="list-pessoas-item">{{pessoa.apelido}}</td class="lista-pessoas-item">
                    <td class="list-pessoas-item">{{pessoa.observacao}}</td class="lista-pessoas-item">

                    <td>
                        <a href="./deletePessoa/{{pessoa.id}}" class="delete-btn"><i class="fas fa-trash"></i></a>
                        <a href="./updatePessoa/{{pessoa.id}}"><i class="fas fa-pencil-alt"></i></a>
                    </td>

            </tr>
                {% endfor %}
            
        </table>

    </div>    
    <div class="pagination">
        
        <span class="step-links">
        
            {% if pessoas.has_previous %}
                <a href="?page={{pessoas.previous_page_number}}"><i class="fas fa-arrow-left"></i></a>
            {% endif %}

            {% if pessoas.paginator.num_pages %}
                <span class="current">
                    {{ pessoas.number}} de {{pessoas.paginator.num_pages}}
                </span>
            {% endif %}

            {% if pessoas.has_next %}
                <a href="?page={{pessoas.next_page_number}}"><i class="fas fa-arrow-right"></i></a>
            {% endif %}
        </span>
    </div>
    <div class="add-div">
        <a href="./"><button class="form-control">Cadastrar</button ></a>
    </div>
</div>
{% endblock %}
