.container-fluid {

    padding: 0;
}

table{
    margin: auto;
    text-align: justify;
    background-color: #f0f0f0;
}

a{

    text-decoration: none;
    color: #000000;

}

h1{
    color: #f0f0f0;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: lighter;

}

/*Barra de Navegação*/

.nav-bar{
    text-align: center;
    margin: 0;
    padding: 0;
    margin:auto;
    background-color: #3476e2;

}
.nav-bar div{
    display: inline-block;
    padding-left: 10px;
    
}
.nav-bar .company-name{
    display: block;
    float: left;
    padding-left: 10%;
   
}

/*BARRA DE PESQUISA*/

.search-div{

    padding-left: 10%;
    padding-right: 10%;
    margin-top: 15px;
    margin-bottom: 15px;    
}

.fas.fa-search{

    color: #3476e2;
    margin: auto;
    padding-right: 10px;
    cursor: pointer; 

}

/*BOTAO DE CADASTRO*/

.fas.fa-plus{

    margin-right: 10px;
    margin-left: 5px;
    color: #000000;

}

.add-div button{
    background-color: #83c683;
    color: #000000;
}

.list-btn-div button{
    background-color: #3476e2;
    color: #000000;

}

.fas.fa-user{
    margin-right: 10px;
    margin-left: 5px;

}

/*LISTA*/

.list-div{

    padding-top: 30px;
    max-width: 1128px;
    margin: auto auto;

}

.list-pessoas{

    padding-left: 0;
    margin-left: 5px;
  
}

.list-pessoas-item{

    padding-left: 10px;
    padding-top: 15px;
    font-size:20px;
    list-style: none;
    height: 50px;
    margin: 0 auto;
    word-wrap:break-word;
   
}


/*EDIÇÃO E DELEÇÃO*/

.fas.fa-pencil-alt, .fas.fa-trash{

    cursor: pointer;
    margin: 10px;
    font-size: 20px;
    float:right;

}

.fas.fa-trash{

    color: #d72839;

}

/*MENSAGENS*/

div.messages{

    text-align: center;
}

ul.messages{

    padding: 0;

}

ul.messages li {

    list-style: none;
    color: #83c683;

}

/*PAGINAÇÃO*/

.pagination{

    margin-bottom: 20px;
    margin-top: 20px;

}
.step-links{

    position:relative;
    margin-left: auto;
    margin-right: auto;

}

.step-links .current{

    margin-left: 5px;
    margin-right: 5px;

}

.form-control{

    margin-bottom: 10px;

}